services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Infra
    ArnaudMoncondhuy\SynapseBundle\Service\Infra\GeminiClient:
        arguments:
            $apiKey: '%synapse.gemini_api_key%'
            $model: '%synapse.model%'

    # Default implementations (can be overridden by user)
    ArnaudMoncondhuy\SynapseBundle\Service\Impl\SessionConversationHandler: ~

    ArnaudMoncondhuy\SynapseBundle\Service\Impl\DefaultContextProvider: ~

    # Aliases for interfaces (use default implementations)
    ArnaudMoncondhuy\SynapseBundle\Contract\ConversationHandlerInterface:
        alias: ArnaudMoncondhuy\SynapseBundle\Service\Impl\SessionConversationHandler

    ArnaudMoncondhuy\SynapseBundle\Contract\ContextProviderInterface:
        alias: ArnaudMoncondhuy\SynapseBundle\Service\Impl\DefaultContextProvider

    # Logic
    ArnaudMoncondhuy\SynapseBundle\Service\PersonaRegistry:
        arguments:
            $configPath: '%synapse.personas_path%'

    ArnaudMoncondhuy\SynapseBundle\Service\PromptBuilder:
        arguments:
            $personaRegistry: '@ArnaudMoncondhuy\SynapseBundle\Service\PersonaRegistry'

    # Main service
    ArnaudMoncondhuy\SynapseBundle\Service\ChatService:
        arguments:
            $tools: !tagged_iterator synapse.tool

    # Twig Integration
    ArnaudMoncondhuy\SynapseBundle\Twig\SynapseRuntime:
        tags: ['twig.runtime']

    ArnaudMoncondhuy\SynapseBundle\Twig\SynapseExtension:
        tags: ['twig.extension']
    ArnaudMoncondhuy\SynapseBundle\Controller\Api\ChatApiController:
        tags: ['controller.service_arguments']

    ArnaudMoncondhuy\SynapseBundle\Controller\Api\ResetController:
        tags: ['controller.service_arguments']
