services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Infra
    ArnaudMoncondhuy\SynapseBundle\Service\Infra\GoogleAuthService:
        arguments:
            $serviceAccountJsonPath: '%synapse.vertex.service_account_json%'

    ArnaudMoncondhuy\SynapseBundle\Service\Infra\GeminiClient:
        arguments:
            $httpClient: '@http_client'
            $googleAuthService: '@ArnaudMoncondhuy\SynapseBundle\Service\Infra\GoogleAuthService'
            $model: '%synapse.model%'
            $vertexProjectId: '%synapse.vertex.project_id%'
            $vertexRegion: '%synapse.vertex.region%'
            $thinkingEnabled: '%synapse.thinking.enabled%'
            $thinkingBudget: '%synapse.thinking.budget%'
            $safetySettingsEnabled: '%synapse.safety_settings.enabled%'
            $safetyDefaultThreshold: '%synapse.safety_settings.default_threshold%'
            $safetyThresholds: '%synapse.safety_settings.thresholds%'
            $generationTemperature: '%synapse.generation_config.temperature%'
            $generationTopP: '%synapse.generation_config.top_p%'
            $generationTopK: '%synapse.generation_config.top_k%'
            $generationMaxOutputTokens: '%synapse.generation_config.max_output_tokens%'
            $generationStopSequences: '%synapse.generation_config.stop_sequences%'
            $contextCachingEnabled: '%synapse.context_caching.enabled%'
            $contextCachingId: '%synapse.context_caching.cached_content_id%'

    # Default implementations (can be overridden by user)
    ArnaudMoncondhuy\SynapseBundle\Service\Impl\SessionConversationHandler: ~

    ArnaudMoncondhuy\SynapseBundle\Service\Impl\DefaultContextProvider: ~

    # Aliases for interfaces (use default implementations)
    ArnaudMoncondhuy\SynapseBundle\Contract\ConversationHandlerInterface:
        alias: ArnaudMoncondhuy\SynapseBundle\Service\Impl\SessionConversationHandler

    ArnaudMoncondhuy\SynapseBundle\Contract\ContextProviderInterface:
        alias: ArnaudMoncondhuy\SynapseBundle\Service\Impl\DefaultContextProvider

    # Logic
    ArnaudMoncondhuy\SynapseBundle\Service\PersonaRegistry:
        arguments:
            $configPath: '%synapse.personas_path%'

    ArnaudMoncondhuy\SynapseBundle\Service\PromptBuilder:
        arguments:
            $personaRegistry: '@ArnaudMoncondhuy\SynapseBundle\Service\PersonaRegistry'

    # Main service
    ArnaudMoncondhuy\SynapseBundle\Service\ChatService:
        arguments:
            $geminiClient: '@ArnaudMoncondhuy\SynapseBundle\Service\Infra\GeminiClient'
            $promptBuilder: '@ArnaudMoncondhuy\SynapseBundle\Service\PromptBuilder'
            $tools: !tagged_iterator synapse.tool
            $cache: '@cache.app'
            $configuredModel: '%synapse.model%'

    # Twig Integration
    ArnaudMoncondhuy\SynapseBundle\Twig\SynapseRuntime:
        tags: ['twig.runtime']

    ArnaudMoncondhuy\SynapseBundle\Twig\SynapseExtension:
        tags: ['twig.extension']
    ArnaudMoncondhuy\SynapseBundle\Controller\Api\ChatApiController:
        autowire: true
        autoconfigure: true
        tags: ['controller.service_arguments']




    ArnaudMoncondhuy\SynapseBundle\Controller\Api\ResetController:
        tags: ['controller.service_arguments']

    ArnaudMoncondhuy\SynapseBundle\Controller\Api\DebugController:
        tags: ['controller.service_arguments']


