services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Infra
    ArnaudMoncondhuy\SynapseBundle\Service\Infra\GoogleAuthService:
        arguments:
            $serviceAccountJsonPath: '%synapse.vertex.service_account_json%'

    ArnaudMoncondhuy\SynapseBundle\Service\Infra\GeminiClient:
        arguments:
            $googleAuthService: '@ArnaudMoncondhuy\SynapseBundle\Service\Infra\GoogleAuthService'
            $model: '%synapse.model%'
            $vertexEnabled: '%synapse.vertex.enabled%'
            $vertexProjectId: '%synapse.vertex.project_id%'
            $vertexRegion: '%synapse.vertex.region%'
            $thinkingEnabled: '%synapse.thinking.enabled%'
            $thinkingBudget: '%synapse.thinking.budget%'

    # Default implementations (can be overridden by user)
    ArnaudMoncondhuy\SynapseBundle\Service\Impl\SessionConversationHandler: ~

    ArnaudMoncondhuy\SynapseBundle\Service\Impl\DefaultContextProvider: ~

    ArnaudMoncondhuy\SynapseBundle\Service\Impl\DefaultApiKeyProvider:
        arguments:
            $defaultApiKey: '%synapse.api_key%'

    # Aliases for interfaces (use default implementations)
    ArnaudMoncondhuy\SynapseBundle\Contract\ConversationHandlerInterface:
        alias: ArnaudMoncondhuy\SynapseBundle\Service\Impl\SessionConversationHandler

    ArnaudMoncondhuy\SynapseBundle\Contract\ContextProviderInterface:
        alias: ArnaudMoncondhuy\SynapseBundle\Service\Impl\DefaultContextProvider

    ArnaudMoncondhuy\SynapseBundle\Contract\ApiKeyProviderInterface:
        alias: ArnaudMoncondhuy\SynapseBundle\Service\Impl\DefaultApiKeyProvider

    # Logic
    ArnaudMoncondhuy\SynapseBundle\Service\PersonaRegistry:
        arguments:
            $configPath: '%synapse.personas_path%'

    ArnaudMoncondhuy\SynapseBundle\Service\PromptBuilder:
        arguments:
            $personaRegistry: '@ArnaudMoncondhuy\SynapseBundle\Service\PersonaRegistry'

    # Main service
    ArnaudMoncondhuy\SynapseBundle\Service\ChatService:
        arguments:
            $apiKeyProvider: '@ArnaudMoncondhuy\SynapseBundle\Contract\ApiKeyProviderInterface'
            $tools: !tagged_iterator synapse.tool
            $vertexEnabled: '%synapse.vertex.enabled%'
            $configuredModel: '%synapse.model%'

    # Twig Integration
    ArnaudMoncondhuy\SynapseBundle\Twig\SynapseRuntime:
        tags: ['twig.runtime']

    ArnaudMoncondhuy\SynapseBundle\Twig\SynapseExtension:
        tags: ['twig.extension']
    ArnaudMoncondhuy\SynapseBundle\Controller\Api\ChatApiController:
        tags: ['controller.service_arguments']




    ArnaudMoncondhuy\SynapseBundle\Controller\Api\ResetController:
        tags: ['controller.service_arguments']

    ArnaudMoncondhuy\SynapseBundle\Controller\Api\DebugController:
        tags: ['controller.service_arguments']


