name: Split Monorepo to Separate Repos

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  split:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - local: packages/core
            remote: https://x-access-token:${{ secrets.SYNAPSE_SPLIT_TOKEN }}@github.com/arnaudmoncondhuy/synapse-core.git
            name: Core
          - local: packages/admin
            remote: https://x-access-token:${{ secrets.SYNAPSE_SPLIT_TOKEN }}@github.com/arnaudmoncondhuy/synapse-admin.git
            name: Admin
          - local: packages/chat
            remote: https://x-access-token:${{ secrets.SYNAPSE_SPLIT_TOKEN }}@github.com/arnaudmoncondhuy/synapse-chat.git
            name: Chat
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Split ${{ matrix.package.name }} package
        run: |
          git subtree split --prefix=${{ matrix.package.local }} -b split-branch
          git push ${{ matrix.package.remote }} split-branch:main --force
          git branch -D split-branch
